.top {
    padding: 20px 0;
}
.header-bg img {
    height: 50%;
    width: 100%;
}
.logo-title {
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
}
.logo-title img {
    width: 40%;
}
.header-block {
    position: relative;
    
}
.header-inner {
    background: linear-gradient(180deg, #20D3CB 0%, #FFFFFF 100%);
}
.logo-title h3 {
    color: #152731;
    font-size: 68px;
    line-height: 72px;
    font-weight: 700;
}
.logo-title h3 > span {
    color:  #20D3CB;
}
.logo-text {
    margin-left: 40px;
}
.logo-text h4 {
    color: #152731;
    font-size: 56px;
    line-height: 60px;
    font-weight: 700;
}
.logo-text p {
    color: #152731;
    font-size: 36px;
    line-height: 40px;
    font-weight: 400;
}
.bar-line {
    width: 40px;   
}
.bar-item--text {
    height: 40px;
    width: 1000px;
    margin-bottom: 60px;
    margin-left: 20px;
}
.bar-0 {
    height: 1600px;
    background: #FFD056;
}

.bar-1 {
    height: 1500px;
    background: #99E7AB;
}
.number-1 {
    color: #FFD056;
}
.bar-2 {
    height: 1400px;
    background: #11D0CF;
}
.number-2 {
    color: #99E7AB;
}
.bar-3 {
    height: 1300px;
    background: #152731;
}
.number-3 {
    color: #11D0CF;
}
.bar-4 {
    height: 1200px;
    background: #2D2F32;
}
.number-4 {
    color: #152731;
}
.bar-5 {
    height: 1100px;
    background: #3A3C40;
}
.number-5 {
    color: #2D2F32;
}
.bar-6 {
    height: 1000px;
    background: #515357;
}
.number-6 {
    color: #3A3C40;
}
.bar-7 {
    height: 900px;
    background: #5E6167;
}
.number-7 {
    color: #515357;
}
.bar-8 {
    height: 800px;
    background: #767A81;
}
.number-8 {
    color: #5E6167;
}
.bar-9 {
    height: 700px;
    background: #9A9B9C;
}
.number-9 {
    color: #767A81;
}
.bar-item {
    width: 40px;
}
.number-10 {
    color:  #9A9B9C;
}
.bar-item:last-child {
    margin-bottom: 600px;
}
.bar-rest {
    display: flex;
    align-items: flex-end;
}
.bar-items {
    display: flex;
    align-items: flex-end;
}
.bar-item-all {
    display: flex;
}
.bar-number {
    font-size: 60px;
    line-height: 64px;
    font-weight: 700;
    margin-left: 10px;
}
.bar-item-top {
    color: #152731;
    font-size: 42px;
    line-height: 47px;
    font-weight: 700;
}
.bar-item-top  {
    margin-bottom: 5px;
}
.bar-item-text--inner {
    display: flex;
    align-items: center;
}
.bar-item--text:last-child {
    margin-bottom: 500px!important;
    display: flex;
    flex-direction: column;
   justify-content: space-between;
}
.bar-item-text-right {
  margin-left: 20px;
    /* width: 100%; */
    width: 650px;
}
.footer-top {
    margin-top: 400px;
}